body{
    background-color: rgb(179, 231, 248);
  
}

h1{
    font-family: cursive;
    font-size: 50px;
    text-align: center;
    color: cornflowerblue;
}

.card{
    margin: 200px;
    margin-top: 50px;
    margin-bottom: 100px;
}
.card-text{
    font-size: 20px;
    font-family: monospace;
    color: darkcyan;
    width: 200px;
    
}
.lead1{
    font-size: 25px;
    text-align: center;
    font-family:inherit;
    color: royalblue;
}
.lead2{
    font-size: 25px;
    text-align: center;
    font-family:inherit;
    color: royalblue;
}

